In [7]:
# Dictionary and Dictionary functions
# python dictionary is an ordered collection(starting from python 3.7) of items.
# each item of a dictionary has a key/value pair.
# dictionaries are optimized to retrieved values when the key is known
# the keys of dictionary are hashable i.e. they are generated by hashing function, key values themselves 
# become the index of the array which stores the data.

# example :
Dict = {1: 'apple', 2: 'banana', 3: 'cherry'}

In [ ]:
# Creating dictionary
# in python, a dictionary can be created by placing a sequence of elements within curly{} braces, seprated by 'comma'.
# dictionary can also be created by the built in function dict(). an empty dictionary can be created by just placing 
# to curly braces{}.
# keys within dictionary must be unique.
# keys must be of an immutable data type such as strings, numbers, or tuples
# values in a dictionary can be of any data type
# dictionary keys are case sensitive, meaning that 'Key' and 'key' are considerd distinct keys.

In [11]:
d = {1:1, 2:4, 3:9, 4:16, 5:25}
type(d)

dict

In [15]:
# accessing the value
d[4]

16

In [41]:
# using curly braces
my_dict = {'name': 'Adhira', 'age': 12, 'city': 'pune'}
print(my_dict)

# using the dict()
my_dict1 = dict(name = 'dhira', age = 30, city = 'london')
my_dict1

{'name': 'Adhira', 'age': 12, 'city': 'pune'}

{'name': 'dhira', 'age': 30, 'city': 'london'}

In [43]:
my_dict

{'name': 'Adhira', 'age': 12, 'city': 'pune'}

In [25]:
my_dict1

{'name': 'dhira', 'age': 30, 'city': 'london'}

In [ ]:
# accessing values:
# can access values associated with the keys using [](square brackets)

In [45]:
my_dict['name']

'Adhira'

In [47]:
# Adding and modifying values
my_dict['country'] = 'india'  # added new key 'country and its value is 'india'
my_dict

{'name': 'Adhira', 'age': 12, 'city': 'pune', 'country': 'india'}

In [49]:
my_dict['age'] = 13   # modified existing value i.e. 12
my_dict

{'name': 'Adhira', 'age': 13, 'city': 'pune', 'country': 'india'}

In [51]:
# removing values
del my_dict['city']
my_dict

{'name': 'Adhira', 'age': 13, 'country': 'india'}

In [53]:
# remove and return value
my_dict.pop('age')

13

In [55]:
my_dict

{'name': 'Adhira', 'country': 'india'}

In [57]:
# Iteration through dictionary
d = {'Neeraj':'Javelinthrow', 'Dhoni':'Cricket', 'PV sindhu':'Badminton', 'Mary com':'Boxing'}
print(f'the keys are: {d.keys()}')
print(f'the values are: {d.values()}')

the keys are: dict_keys(['Neeraj', 'Dhoni', 'PV sindhu', 'Mary com'])
the values are: dict_values(['Javelinthrow', 'Cricket', 'Badminton', 'Boxing'])

In [59]:
for i in d:     # iterate through keys
    print(i)    # by default it is accessing keys

Neeraj
Dhoni
PV sindhu
Mary com

In [61]:
for i in d.values():   # iterate through values
    print(i)

Javelinthrow
Cricket
Badminton
Boxing

In [63]:
d.items()   # return the key and values as a tuple

dict_items([('Neeraj', 'Javelinthrow'), ('Dhoni', 'Cricket'), ('PV sindhu', 'Badminton'), ('Mary com', 'Boxing')])

{'name': 'Adhira', 'age': 12, 'city': 'pune'}

In [83]:
for key, value in d.items():
    print(key,value)

Neeraj Javelinthrow
Dhoni Cricket
PV sindhu Badminton
Mary com Boxing

In [85]:
dict_2 = d.copy()
dict_2

{'Neeraj': 'Javelinthrow',
 'Dhoni': 'Cricket',
 'PV sindhu': 'Badminton',
 'Mary com': 'Boxing'}

In [91]:
my_dict = {'name': 'Adhira', 'age': 12, 'city': 'pune'}
my_dict1 = dict(name = 'dhira', age = 30, city = 'london')

my_dict = my_dict1.copy()
print(my_dict)

{'name': 'dhira', 'age': 30, 'city': 'london'}

In [ ]:
# Dictionary methods
# clear() - remove all the elements from the dictionary
# copy() - returns the copy of the dictionary
# get(key,default) - returns the values of specified key
# items() - returns a list containing a tuple for each key value pair
# keys() - returns a list containing dictionarys keys
# pop() - remove the element with specified key
# popitem() - removes the last inserted key-value pair
# update() - update dictionary with specified key value pair
# values() - returns a list of all the values

In [93]:
d.get('Neeraj') # .get(key,default)

'Javelinthrow'

In [95]:
d.get('Apoorva', 'the key does not exist')

# sometimes we use it becuase we dont want python to throw an error
# if anything doesnt exist can give spaces also or can leave without default value as well

'the key does not exist'

In [103]:
d = {'a':1, 'b':2, 'c':3}
d.update({'d':4})    # adds new key 'd'
d.update({'a':10})   # updates existing key 'a'
print(d)             # {'a':10,'b':2,'c':3,'d':4}

{'a': 10, 'b': 2, 'c': 3, 'd': 4}

In [105]:
# popitem() removes the last inserted key value pair from the dictionary
item = d.popitem()
print(item)
print(d)

('d', 4)
{'a': 10, 'b': 2, 'c': 3}

In [109]:
# clear()
d.clear()
print(d)

{}

In [113]:
import requests

In [115]:
api_key = "e8f3165ee2555cad742f3dee9bd2453a"
city = 'Nashik'

url = f'https://api.openweathermap.org/data/2.5/weather?q={city}&appid={api_key}&units=metric'
response = requests.get(url)
response.raise_for_status() # Raise an exception for erro statsus code
data = response.json()

In [117]:
data

{'coord': {'lon': 73.8, 'lat': 19.9833},
 'weather': [{'id': 800,
   'main': 'Clear',
   'description': 'clear sky',
   'icon': '01d'}],
 'base': 'stations',
 'main': {'temp': 38.11,
  'feels_like': 35.68,
  'temp_min': 38.11,
  'temp_max': 38.11,
  'pressure': 1007,
  'humidity': 14,
  'sea_level': 1007,
  'grnd_level': 936},
 'visibility': 10000,
 'wind': {'speed': 5.49, 'deg': 312, 'gust': 3.48},
 'clouds': {'all': 0},
 'dt': 1745909649,
 'sys': {'country': 'IN', 'sunrise': 1745887012, 'sunset': 1745933234},
 'timezone': 19800,
 'id': 1261731,
 'name': 'Nashik',
 'cod': 200}