In [1]:
pip install pandas

Requirement already satisfied: pandas in c:\users\harsh\anaconda3\lib\site-packages (2.2.2)
Requirement already satisfied: numpy>=1.26.0 in c:\users\harsh\anaconda3\lib\site-packages (from pandas) (1.26.4)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\harsh\anaconda3\lib\site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in c:\users\harsh\anaconda3\lib\site-packages (from pandas) (2024.1)
Requirement already satisfied: tzdata>=2022.7 in c:\users\harsh\anaconda3\lib\site-packages (from pandas) (2023.3)
Requirement already satisfied: six>=1.5 in c:\users\harsh\anaconda3\lib\site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)
Note: you may need to restart the kernel to use updated packages.

In [11]:
import pandas as pd
print(pd.__version__)

2.2.2

In [ ]:
# Data structures in Pandas Library
# Pandas provide two data structures for manipulating data which are as follows

In [ ]:
# 1 . Pandas Series
# A Pandas series is one dimentional labeled array capable of holding data of any type(integer, string, float, python object etc)
# the axis labels are collectively called indexes

In [15]:
# Create first Pandas Series

number_series = pd.Series([2,3,4,5])
print(number_series)

0    2
1    3
2    4
3    5
dtype: int64

In [17]:
number_series = pd.Series([2,3,4,5], index = ['a', 'b', 'c', 'd'], name = 'Number')
print(number_series)

a    2
b    3
c    4
d    5
Name: Number, dtype: int64

In [37]:
# accessing pandas series element
# number_series['c']
number_series[3]

C:\Users\harsh\AppData\Local\Temp\ipykernel_18440\1589930226.py:3: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  number_series[3]

5

In [ ]:
# Pandas Dataframe
# Pandas dataframe is a two dimentional data structure with labeled axes(rows and columns)

In [55]:
# creating our first dataframe using 2D numpy array

import numpy as np
twod_array = np.random.randint(2,10,(3,4))
first_dataframe = pd.DataFrame(twod_array, columns = ['Akshay', 'Deva', 'Divya', 'Mona'], index = ['a', 'b', 'c'])
first_dataframe

   Akshay  Deva  Divya  Mona
a       2     7      4     4
b       3     9      7     4
c       9     5      3     3

In [3]:
# Initialize list of lists

import numpy as np
import pandas as pd
list_of_lists = [['Ashu', 10], ['raghav', 20], ['shila', 30]]

# create pandas dataframe
df = pd.DataFrame(list_of_lists, columns = ['Name', 'Age'])

# print dataframe
df

     Name  Age
0    Ashu   10
1  raghav   20
2   shila   30

In [9]:
# create dataframe using dictionary of lists(column wise) --- dictionary of lists must have equal-length lists:
import pandas as pd

# store the data in the dictionary
data = {
    'Name' : ['Alice', 'Bob', 'Charlie'],
    'Age' : [25,30,35],
    'City' : ['New york', 'London', 'Paris']
}

# create dataframe
df = pd.DataFrame(data)

# print dataframe
print(df)

      Name  Age      City
0    Alice   25  New york
1      Bob   30    London
2  Charlie   35     Paris

In [17]:
# # Methods of pandas for Data manipulation and analysis

# df.info()
# df.describe()
# df.head() - default it print 5 values
# df.tail() - default it print 5 values
# df.columns()
# df.rename()
# df.inplace()

In [11]:
import numpy as np
import pandas as pd

our_array = np.random.randn(100,5)
df = pd.DataFrame(our_array, columns = ['A', 'B', 'C', 'D', 'E'])
df

           A         B         C         D         E
0  -1.098130  0.808455  0.241428  0.509553 -0.878350
1  -0.422789 -0.255168  0.316173  0.554584 -1.223026
2  -0.045962  1.320532 -0.410396  0.256035 -0.345416
3  -0.168251 -0.867800 -1.458267 -0.829646 -0.517350
4  -0.182541 -1.190689 -0.920267 -2.639997 -0.048241
..       ...       ...       ...       ...       ...
95  0.012847  2.233195 -0.226831 -0.311447 -0.416307
96 -0.334221  0.749818  1.470166 -1.518767 -0.591944
97 -1.180399 -0.428943  0.287280  0.956418 -0.879624
98  2.753211  1.973042 -0.631605  0.519473 -0.301053
99  1.306663  0.500860 -1.595053  0.300436 -1.143784

[100 rows x 5 columns]

In [19]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100 entries, 0 to 99
Data columns (total 5 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   A       100 non-null    float64
 1   B       100 non-null    float64
 2   C       100 non-null    float64
 3   D       100 non-null    float64
 4   E       100 non-null    float64
dtypes: float64(5)
memory usage: 4.0 KB

In [13]:
df.describe()

                A           B           C           D           E
count  100.000000  100.000000  100.000000  100.000000  100.000000
mean     0.113925   -0.075720   -0.015835   -0.101111   -0.023753
std      0.969856    1.027452    0.965300    1.234847    0.927122
min     -2.100079   -2.923196   -2.222002   -3.206690   -2.088510
25%     -0.561608   -0.667679   -0.653426   -0.933924   -0.663102
50%      0.079901   -0.168195    0.014961   -0.141315   -0.176456
75%      0.653514    0.766126    0.564033    0.691365    0.649716
max      2.753211    2.233195    2.600871    2.800156    2.004365

In [15]:
# df.head()
df.head(14)

           A         B         C         D         E
0  -1.098130  0.808455  0.241428  0.509553 -0.878350
1  -0.422789 -0.255168  0.316173  0.554584 -1.223026
2  -0.045962  1.320532 -0.410396  0.256035 -0.345416
3  -0.168251 -0.867800 -1.458267 -0.829646 -0.517350
4  -0.182541 -1.190689 -0.920267 -2.639997 -0.048241
5   0.603632  1.488351  0.914946  1.843937  0.156605
6   1.329745 -0.641276  0.151066  1.503218  2.002236
7   1.011339 -0.106655  0.463038  2.215074  0.200009
8  -0.065474 -1.031202 -0.427164  0.057096 -0.149901
9  -0.824215  0.854246 -0.747685  0.410421  0.276377
10 -0.798044 -2.923196  0.899874  0.258779 -1.673023
11 -0.484729  1.123499  0.136722  0.226329 -0.748660
12  1.561836 -1.417194 -0.460439 -0.565753  2.004365
13  0.133611  0.162029  1.558811  0.786539 -0.480527

In [17]:
# df.tail()
df.tail(15)

           A         B         C         D         E
85 -1.417215  0.381055 -1.635349 -1.256092 -0.230087
86 -1.967061 -0.194977  0.641735 -0.486570  0.434942
87  0.243773 -1.219760  0.394281  0.675377  0.018805
88  0.604686 -1.706758  0.163595  0.867369  0.647681
89 -2.100079  0.704597 -0.457899  1.061507 -0.260421
90 -0.277856 -0.954270  1.523758  0.205096 -0.515463
91  1.508510  1.283530  0.162854  0.312666  0.604505
92  0.267667 -2.793049  1.920184 -1.338485 -0.265860
93  0.740975 -1.225754 -0.023126  2.783609  1.355443
94 -0.777360 -0.030742 -0.145362 -0.634630 -1.261210
95  0.012847  2.233195 -0.226831 -0.311447 -0.416307
96 -0.334221  0.749818  1.470166 -1.518767 -0.591944
97 -1.180399 -0.428943  0.287280  0.956418 -0.879624
98  2.753211  1.973042 -0.631605  0.519473 -0.301053
99  1.306663  0.500860 -1.595053  0.300436 -1.143784

In [19]:
df.columns

Index(['A', 'B', 'C', 'D', 'E'], dtype='object')

In [21]:
df.rename(columns = {'A':"Column1", 'E':"Column5"})

     Column1         B         C         D   Column5
0  -1.098130  0.808455  0.241428  0.509553 -0.878350
1  -0.422789 -0.255168  0.316173  0.554584 -1.223026
2  -0.045962  1.320532 -0.410396  0.256035 -0.345416
3  -0.168251 -0.867800 -1.458267 -0.829646 -0.517350
4  -0.182541 -1.190689 -0.920267 -2.639997 -0.048241
..       ...       ...       ...       ...       ...
95  0.012847  2.233195 -0.226831 -0.311447 -0.416307
96 -0.334221  0.749818  1.470166 -1.518767 -0.591944
97 -1.180399 -0.428943  0.287280  0.956418 -0.879624
98  2.753211  1.973042 -0.631605  0.519473 -0.301053
99  1.306663  0.500860 -1.595053  0.300436 -1.143784

[100 rows x 5 columns]

In [23]:
df

           A         B         C         D         E
0  -1.098130  0.808455  0.241428  0.509553 -0.878350
1  -0.422789 -0.255168  0.316173  0.554584 -1.223026
2  -0.045962  1.320532 -0.410396  0.256035 -0.345416
3  -0.168251 -0.867800 -1.458267 -0.829646 -0.517350
4  -0.182541 -1.190689 -0.920267 -2.639997 -0.048241
..       ...       ...       ...       ...       ...
95  0.012847  2.233195 -0.226831 -0.311447 -0.416307
96 -0.334221  0.749818  1.470166 -1.518767 -0.591944
97 -1.180399 -0.428943  0.287280  0.956418 -0.879624
98  2.753211  1.973042 -0.631605  0.519473 -0.301053
99  1.306663  0.500860 -1.595053  0.300436 -1.143784

[100 rows x 5 columns]

In [25]:
df.rename(columns = {'A':"Column1", 'E':"Column5"}, inplace = True)
df

     Column1         B         C         D   Column5
0  -1.098130  0.808455  0.241428  0.509553 -0.878350
1  -0.422789 -0.255168  0.316173  0.554584 -1.223026
2  -0.045962  1.320532 -0.410396  0.256035 -0.345416
3  -0.168251 -0.867800 -1.458267 -0.829646 -0.517350
4  -0.182541 -1.190689 -0.920267 -2.639997 -0.048241
..       ...       ...       ...       ...       ...
95  0.012847  2.233195 -0.226831 -0.311447 -0.416307
96 -0.334221  0.749818  1.470166 -1.518767 -0.591944
97 -1.180399 -0.428943  0.287280  0.956418 -0.879624
98  2.753211  1.973042 -0.631605  0.519473 -0.301053
99  1.306663  0.500860 -1.595053  0.300436 -1.143784

[100 rows x 5 columns]

In [27]:
# Loading CSV Files

df = pd.read_csv("Iris.csv")

In [29]:
df

,Id,SepalLengthCm,SepalWidthCm,PetalLengthCm,PetalWidthCm,Species
0,1,5.1,3.5,1.4,0.2,Iris-setosa
1,2,4.9,3.0,1.4,0.2,Iris-setosa
2,3,4.7,3.2,1.3,0.2,Iris-setosa
3,4,4.6,3.1,1.5,0.2,Iris-setosa
4,5,5.0,3.6,1.4,0.2,Iris-setosa
...,...,...,...,...,...,...
145,146,6.7,3.0,5.2,2.3,Iris-virginica
146,147,6.3,2.5,5.0,1.9,Iris-virginica
147,148,6.5,3.0,5.2,2.0,Iris-virginica
148,149,6.2,3.4,5.4,2.3,Iris-virginica
149,150,5.9,3.0,5.1,1.8,Iris-virginica

In [31]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 150 entries, 0 to 149
Data columns (total 6 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Id             150 non-null    int64
 1   SepalLengthCm  150 non-null    float64
 2   SepalWidthCm   150 non-null    float64
 3   PetalLengthCm  150 non-null    float64
 4   PetalWidthCm   150 non-null    float64
 5   Species        150 non-null    object
dtypes: float64(4), int64(1), object(1)
memory usage: 7.2+ KB

In [33]:
df.describe()

               Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm
count  150.000000     150.000000    150.000000     150.000000    150.000000
mean    75.500000       5.843333      3.054000       3.758667      1.198667
std     43.445368       0.828066      0.433594       1.764420      0.763161
min      1.000000       4.300000      2.000000       1.000000      0.100000
25%     38.250000       5.100000      2.800000       1.600000      0.300000
50%     75.500000       5.800000      3.000000       4.350000      1.300000
75%    112.750000       6.400000      3.300000       5.100000      1.800000
max    150.000000       7.900000      4.400000       6.900000      2.500000

In [47]:
# df["Species"]
df.Species

0         Iris-setosa
1         Iris-setosa
2         Iris-setosa
3         Iris-setosa
4         Iris-setosa
            ...
145    Iris-virginica
146    Iris-virginica
147    Iris-virginica
148    Iris-virginica
149    Iris-virginica
Name: Species, Length: 150, dtype: object

In [69]:
df["Species"].unique()

array(['Iris-setosa', 'Iris-versicolor', 'Iris-virginica'], dtype=object)

In [49]:
df["Species"].nunique()

3

In [51]:
df.columns

Index(['Id', 'SepalLengthCm', 'SepalWidthCm', 'PetalLengthCm', 'PetalWidthCm',
       'Species'],
      dtype='object')

In [53]:
df["SepalLengthCm"].unique()

array([5.1, 4.9, 4.7, 4.6, 5. , 5.4, 4.4, 4.8, 4.3, 5.8, 5.7, 5.2, 5.5,
       4.5, 5.3, 7. , 6.4, 6.9, 6.5, 6.3, 6.6, 5.9, 6. , 6.1, 5.6, 6.7,
       6.2, 6.8, 7.1, 7.6, 7.3, 7.2, 7.7, 7.4, 7.9])

In [55]:
dir(df["SepalLengthCm"])

['T',
 '_AXIS_LEN',
 '_AXIS_ORDERS',
 '_AXIS_TO_AXIS_NUMBER',
 '_HANDLED_TYPES',
 '__abs__',
 '__add__',
 '__and__',
 '__annotations__',
 '__array__',
 '__array_priority__',
 '__array_ufunc__',
 '__bool__',
 '__class__',
 '__column_consortium_standard__',
 '__contains__',
 '__copy__',
 '__deepcopy__',
 '__delattr__',
 '__delitem__',
 '__dict__',
 '__dir__',
 '__divmod__',
 '__doc__',
 '__eq__',
 '__finalize__',
 '__float__',
 '__floordiv__',
 '__format__',
 '__ge__',
 '__getattr__',
 '__getattribute__',
 '__getitem__',
 '__getstate__',
 '__gt__',
 '__hash__',
 '__iadd__',
 '__iand__',
 '__ifloordiv__',
 '__imod__',
 '__imul__',
 '__init__',
 '__init_subclass__',
 '__int__',
 '__invert__',
 '__ior__',
 '__ipow__',
 '__isub__',
 '__iter__',
 '__itruediv__',
 '__ixor__',
 '__le__',
 '__len__',
 '__lt__',
 '__matmul__',
 '__mod__',
 '__module__',
 '__mul__',
 '__ne__',
 '__neg__',
 '__new__',
 '__nonzero__',
 '__or__',
 '__pandas_priority__',
 '__pos__',
 '__pow__',
 '__radd__',
 '__rand__',
 '__rdivmod__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rfloordiv__',
 '__rmatmul__',
 '__rmod__',
 '__rmul__',
 '__ror__',
 '__round__',
 '__rpow__',
 '__rsub__',
 '__rtruediv__',
 '__rxor__',
 '__setattr__',
 '__setitem__',
 '__setstate__',
 '__sizeof__',
 '__str__',
 '__sub__',
 '__subclasshook__',
 '__truediv__',
 '__weakref__',
 '__xor__',
 '_accessors',
 '_accum_func',
 '_agg_examples_doc',
 '_agg_see_also_doc',
 '_align_for_op',
 '_align_frame',
 '_align_series',
 '_append',
 '_arith_method',
 '_as_manager',
 '_attrs',
 '_binop',
 '_cacher',
 '_can_hold_na',
 '_check_inplace_and_allows_duplicate_labels',
 '_check_is_chained_assignment_possible',
 '_check_label_or_level_ambiguity',
 '_check_setitem_copy',
 '_clear_item_cache',
 '_clip_with_one_bound',
 '_clip_with_scalar',
 '_cmp_method',
 '_consolidate',
 '_consolidate_inplace',
 '_construct_axes_dict',
 '_construct_result',
 '_constructor',
 '_constructor_expanddim',
 '_constructor_expanddim_from_mgr',
 '_constructor_from_mgr',
 '_data',
 '_deprecate_downcast',
 '_dir_additions',
 '_dir_deletions',
 '_drop_axis',
 '_drop_labels_or_levels',
 '_duplicated',
 '_find_valid_index',
 '_flags',
 '_flex_method',
 '_from_mgr',
 '_get_axis',
 '_get_axis_name',
 '_get_axis_number',
 '_get_axis_resolvers',
 '_get_block_manager_axis',
 '_get_bool_data',
 '_get_cacher',
 '_get_cleaned_column_resolvers',
 '_get_index_resolvers',
 '_get_label_or_level_values',
 '_get_numeric_data',
 '_get_rows_with_mask',
 '_get_value',
 '_get_values_tuple',
 '_get_with',
 '_getitem_slice',
 '_gotitem',
 '_hidden_attrs',
 '_indexed_same',
 '_info_axis',
 '_info_axis_name',
 '_info_axis_number',
 '_init_dict',
 '_init_mgr',
 '_inplace_method',
 '_internal_names',
 '_internal_names_set',
 '_is_cached',
 '_is_copy',
 '_is_label_or_level_reference',
 '_is_label_reference',
 '_is_level_reference',
 '_is_mixed_type',
 '_is_view',
 '_is_view_after_cow_rules',
 '_item_cache',
 '_ixs',
 '_logical_func',
 '_logical_method',
 '_map_values',
 '_maybe_update_cacher',
 '_memory_usage',
 '_metadata',
 '_mgr',
 '_min_count_stat_function',
 '_name',
 '_needs_reindex_multi',
 '_pad_or_backfill',
 '_protect_consolidate',
 '_reduce',
 '_references',
 '_reindex_axes',
 '_reindex_indexer',
 '_reindex_multi',
 '_reindex_with_indexers',
 '_rename',
 '_replace_single',
 '_repr_data_resource_',
 '_repr_latex_',
 '_reset_cache',
 '_reset_cacher',
 '_set_as_cached',
 '_set_axis',
 '_set_axis_name',
 '_set_axis_nocheck',
 '_set_is_copy',
 '_set_labels',
 '_set_name',
 '_set_value',
 '_set_values',
 '_set_with',
 '_set_with_engine',
 '_shift_with_freq',
 '_slice',
 '_stat_function',
 '_stat_function_ddof',
 '_take_with_is_copy',
 '_to_latex_via_styler',
 '_typ',
 '_update_inplace',
 '_validate_dtype',
 '_values',
 '_where',
 'abs',
 'add',
 'add_prefix',
 'add_suffix',
 'agg',
 'aggregate',
 'align',
 'all',
 'any',
 'apply',
 'argmax',
 'argmin',
 'argsort',
 'array',
 'asfreq',
 'asof',
 'astype',
 'at',
 'at_time',
 'attrs',
 'autocorr',
 'axes',
 'backfill',
 'between',
 'between_time',
 'bfill',
 'bool',
 'case_when',
 'clip',
 'combine',
 'combine_first',
 'compare',
 'convert_dtypes',
 'copy',
 'corr',
 'count',
 'cov',
 'cummax',
 'cummin',
 'cumprod',
 'cumsum',
 'describe',
 'diff',
 'div',
 'divide',
 'divmod',
 'dot',
 'drop',
 'drop_duplicates',
 'droplevel',
 'dropna',
 'dtype',
 'dtypes',
 'duplicated',
 'empty',
 'eq',
 'equals',
 'ewm',
 'expanding',
 'explode',
 'factorize',
 'ffill',
 'fillna',
 'filter',
 'first',
 'first_valid_index',
 'flags',
 'floordiv',
 'ge',
 'get',
 'groupby',
 'gt',
 'hasnans',
 'head',
 'hist',
 'iat',
 'idxmax',
 'idxmin',
 'iloc',
 'index',
 'infer_objects',
 'info',
 'interpolate',
 'is_monotonic_decreasing',
 'is_monotonic_increasing',
 'is_unique',
 'isin',
 'isna',
 'isnull',
 'item',
 'items',
 'keys',
 'kurt',
 'kurtosis',
 'last',
 'last_valid_index',
 'le',
 'list',
 'loc',
 'lt',
 'map',
 'mask',
 'max',
 'mean',
 'median',
 'memory_usage',
 'min',
 'mod',
 'mode',
 'mul',
 'multiply',
 'name',
 'nbytes',
 'ndim',
 'ne',
 'nlargest',
 'notna',
 'notnull',
 'nsmallest',
 'nunique',
 'pad',
 'pct_change',
 'pipe',
 'plot',
 'pop',
 'pow',
 'prod',
 'product',
 'quantile',
 'radd',
 'rank',
 'ravel',
 'rdiv',
 'rdivmod',
 'reindex',
 'reindex_like',
 'rename',
 'rename_axis',
 'reorder_levels',
 'repeat',
 'replace',
 'resample',
 'reset_index',
 'rfloordiv',
 'rmod',
 'rmul',
 'rolling',
 'round',
 'rpow',
 'rsub',
 'rtruediv',
 'sample',
 'searchsorted',
 'sem',
 'set_axis',
 'set_flags',
 'shape',
 'shift',
 'size',
 'skew',
 'sort_index',
 'sort_values',
 'squeeze',
 'std',
 'struct',
 'sub',
 'subtract',
 'sum',
 'swapaxes',
 'swaplevel',
 'tail',
 'take',
 'to_clipboard',
 'to_csv',
 'to_dict',
 'to_excel',
 'to_frame',
 'to_hdf',
 'to_json',
 'to_latex',
 'to_list',
 'to_markdown',
 'to_numpy',
 'to_period',
 'to_pickle',
 'to_sql',
 'to_string',
 'to_timestamp',
 'to_xarray',
 'transform',
 'transpose',
 'truediv',
 'truncate',
 'tz_convert',
 'tz_localize',
 'unique',
 'unstack',
 'update',
 'value_counts',
 'values',
 'var',
 'view',
 'where',
 'xs']

In [57]:
df[["SepalLengthCm", "SepalWidthCm", "PetalLengthCm"]]

     SepalLengthCm  SepalWidthCm  PetalLengthCm
0              5.1           3.5            1.4
1              4.9           3.0            1.4
2              4.7           3.2            1.3
3              4.6           3.1            1.5
4              5.0           3.6            1.4
..             ...           ...            ...
145            6.7           3.0            5.2
146            6.3           2.5            5.0
147            6.5           3.0            5.2
148            6.2           3.4            5.4
149            5.9           3.0            5.1

[150 rows x 3 columns]

In [59]:
df["Species"].unique()

array(['Iris-setosa', 'Iris-versicolor', 'Iris-virginica'], dtype=object)

In [61]:
df["Species"].nunique()

3

In [63]:
# I only want to see the"setosa" recoreds from the dataset(filter)

df[df['Species'] == "Iris-setosa"]

    Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm      Species
0    1            5.1           3.5            1.4           0.2  Iris-setosa
1    2            4.9           3.0            1.4           0.2  Iris-setosa
2    3            4.7           3.2            1.3           0.2  Iris-setosa
3    4            4.6           3.1            1.5           0.2  Iris-setosa
4    5            5.0           3.6            1.4           0.2  Iris-setosa
5    6            5.4           3.9            1.7           0.4  Iris-setosa
6    7            4.6           3.4            1.4           0.3  Iris-setosa
7    8            5.0           3.4            1.5           0.2  Iris-setosa
8    9            4.4           2.9            1.4           0.2  Iris-setosa
9   10            4.9           3.1            1.5           0.1  Iris-setosa
10  11            5.4           3.7            1.5           0.2  Iris-setosa
11  12            4.8           3.4            1.6           0.2  Iris-setosa
12  13            4.8           3.0            1.4           0.1  Iris-setosa
13  14            4.3           3.0            1.1           0.1  Iris-setosa
14  15            5.8           4.0            1.2           0.2  Iris-setosa
15  16            5.7           4.4            1.5           0.4  Iris-setosa
16  17            5.4           3.9            1.3           0.4  Iris-setosa
17  18            5.1           3.5            1.4           0.3  Iris-setosa
18  19            5.7           3.8            1.7           0.3  Iris-setosa
19  20            5.1           3.8            1.5           0.3  Iris-setosa
20  21            5.4           3.4            1.7           0.2  Iris-setosa
21  22            5.1           3.7            1.5           0.4  Iris-setosa
22  23            4.6           3.6            1.0           0.2  Iris-setosa
23  24            5.1           3.3            1.7           0.5  Iris-setosa
24  25            4.8           3.4            1.9           0.2  Iris-setosa
25  26            5.0           3.0            1.6           0.2  Iris-setosa
26  27            5.0           3.4            1.6           0.4  Iris-setosa
27  28            5.2           3.5            1.5           0.2  Iris-setosa
28  29            5.2           3.4            1.4           0.2  Iris-setosa
29  30            4.7           3.2            1.6           0.2  Iris-setosa
30  31            4.8           3.1            1.6           0.2  Iris-setosa
31  32            5.4           3.4            1.5           0.4  Iris-setosa
32  33            5.2           4.1            1.5           0.1  Iris-setosa
33  34            5.5           4.2            1.4           0.2  Iris-setosa
34  35            4.9           3.1            1.5           0.1  Iris-setosa
35  36            5.0           3.2            1.2           0.2  Iris-setosa
36  37            5.5           3.5            1.3           0.2  Iris-setosa
37  38            4.9           3.1            1.5           0.1  Iris-setosa
38  39            4.4           3.0            1.3           0.2  Iris-setosa
39  40            5.1           3.4            1.5           0.2  Iris-setosa
40  41            5.0           3.5            1.3           0.3  Iris-setosa
41  42            4.5           2.3            1.3           0.3  Iris-setosa
42  43            4.4           3.2            1.3           0.2  Iris-setosa
43  44            5.0           3.5            1.6           0.6  Iris-setosa
44  45            5.1           3.8            1.9           0.4  Iris-setosa
45  46            4.8           3.0            1.4           0.3  Iris-setosa
46  47            5.1           3.8            1.6           0.2  Iris-setosa
47  48            4.6           3.2            1.4           0.2  Iris-setosa
48  49            5.3           3.7            1.5           0.2  Iris-setosa
49  50            5.0           3.3            1.4           0.2  Iris-setosa

In [65]:
# sepal lenght >=5 ---- df
df[df['SepalLengthCm'] >= 5]

,Id,SepalLengthCm,SepalWidthCm,PetalLengthCm,PetalWidthCm,Species
0,1,5.1,3.5,1.4,0.2,Iris-setosa
4,5,5.0,3.6,1.4,0.2,Iris-setosa
5,6,5.4,3.9,1.7,0.4,Iris-setosa
7,8,5.0,3.4,1.5,0.2,Iris-setosa
10,11,5.4,3.7,1.5,0.2,Iris-setosa
...,...,...,...,...,...,...
145,146,6.7,3.0,5.2,2.3,Iris-virginica
146,147,6.3,2.5,5.0,1.9,Iris-virginica
147,148,6.5,3.0,5.2,2.0,Iris-virginica
148,149,6.2,3.4,5.4,2.3,Iris-virginica
149,150,5.9,3.0,5.1,1.8,Iris-virginica

In [67]:
# df[df['SepalLengthCm'] >= 5].min()
df[df['SepalLengthCm'] >= 5].max()

Id                          150
SepalLengthCm               7.9
SepalWidthCm                4.4
PetalLengthCm               6.9
PetalWidthCm                2.5
Species          Iris-virginica
dtype: object

In [69]:
df[df['PetalWidthCm'] == 0.4]

    Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm      Species
5    6            5.4           3.9            1.7           0.4  Iris-setosa
15  16            5.7           4.4            1.5           0.4  Iris-setosa
16  17            5.4           3.9            1.3           0.4  Iris-setosa
21  22            5.1           3.7            1.5           0.4  Iris-setosa
26  27            5.0           3.4            1.6           0.4  Iris-setosa
31  32            5.4           3.4            1.5           0.4  Iris-setosa
44  45            5.1           3.8            1.9           0.4  Iris-setosa

In [71]:
len(df[df['PetalWidthCm'] == 0.4])

7

In [39]:
# EDA --- Exploratory data Analysis

df[(df['Species'] == "Iris-setosa") & (df["SepalWidthCm"] >= 3.9)]  # can also use 'and'

    Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm      Species
5    6            5.4           3.9            1.7           0.4  Iris-setosa
14  15            5.8           4.0            1.2           0.2  Iris-setosa
15  16            5.7           4.4            1.5           0.4  Iris-setosa
16  17            5.4           3.9            1.3           0.4  Iris-setosa
32  33            5.2           4.1            1.5           0.1  Iris-setosa
33  34            5.5           4.2            1.4           0.2  Iris-setosa